.ticket-card {
    border-left: 6px solid transparent;
}

.prioridad-alta {
    border-left-color: red;
    background-color: #ffe5e5;
}

.prioridad-normal {
    border-left-color: orange;
}

.prioridad-baja {
    border-left-color: green;
}

.mensaje-leido {
    opacity: 0.6;
}
